---
import Layout from '../layouts/Layout.astro';
---

<Layout title="404 Not Found">
  <div>
    <h1 class="block text-5xl text-center mb-10">
      No pudimos encontrar lo que buscabas...
    </h1>
    <h1 class="block text-8xl text-center">404</h1>
  </div>
</Layout>
